/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,400,700,400italic,700italic);

/* ==========================================================================
   Base
   ========================================================================== */

body { 
  border-top: 5px solid @secondary;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
  .callbox {
    background: @primary;
    width: 215px;
    height: 85px;
    float: right;
    font-family: @font-family-sans-serif;
    color: @white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    .cta {
      font-size: 18px;
      margin: 0;
      padding: 0;
      line-height: 16px;
    }
    .number {
      font-size: 30px;
      margin: 0;
      padding: 0;
      line-height: 28px;
    }
  }
  .img {
    background-image: url("../img/logo-centers.png"); 
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
    width: 219px;
    height: 85px;
  } 
}

.nav-main { 
  background-color: @gray;
  background-origin: border-box;
  background-clip: border-box;
  border-bottom: 1px solid @gray-light;
  border-top: 1px solid @gray-light;
}

.subbanner {
  overflow: hidden;
  &.color, .color {
    color: @white;
    &.primary {
      background-color: @primary;    
    }
    &.secondary {
      background-color: @secondary;    
    }
    &.tertiary {
      background-color: @tertiary;    
    }
    &.gray-lighter {
      color: @gray;
      background-color: @gray-lightest;    
    }
    &.gray {
      color: @gray;
      background-color: @gray-lighter;    
    }
    &.container {
      background-clip: content-box;
    }
  }
  &.image-banner, &.text-banner {
    .text {
      h1 { 
        padding: 0;
        margin: 0;
        font-size: 36px;
        font-weight: 700;  
        font-style: italic;
        line-height: 1.25;        
      }
      p {
        font-size: 14px;
        line-height: 1.85;
        text-align: left;
        margin: 0;
      }
    }
  }
  &.image-banner {
    .text {
      padding: 20px;
    }
    .image {
      width: 100%;
      height: 250px;
      background-position: center;
      display: block;
      background-size: cover;
    }
  }
  &.text-banner {
    .text {
      padding: 30px 0;
    }
  }
}



/* ==========================================================================
   Page-specific
   ========================================================================== */

.colored-back {
  &.home-one {
    padding-top: 40px;
  }
  &.home-two {
    padding-top: 68px;
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 160%;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    a {
      color: @secondary;
      font-weight: 700;
      &:hover {
        text-decoration: none;
        color: @primary;
      }
    }
  }
  &.home-three {
    margin: 40px 0;
  }
  &.home-four {
    margin-bottom: 40px;
    color: @white;
    .image {
      width: 100%;
      height: 350px;
      background-position: center;
      background-size: cover;
    }
    .container {
      background-color: @gray;
      background-clip: content-box;
      height: 350px;
      position: relative;
      
      .flow {
        padding-left: 20px;
        height: 350px;
        padding-top: 60px;
        padding-bottom: 60px;
      }
      
      h3 {
        font-size: 30px;
        font-style: italic;
        line-height: 1.25;
        font-weight: 700;
      }
      
      p {
        font-size: 14px;
        font-family: @font-family-sans-serif;
        line-height: 1.85;
        font-weight: 200;
        -webkit-font-smoothing: subpixel-antialiased; // Fix smoothing in Chrome/Safari
        font-smoothing: subpixel-antialiased; // Fix smoothing in Chrome/Safari
        letter-spacing: 0.4px;
      }
      
      button {
        position: absolute;
        bottom: 60px;
      }
    }
  }
}

/* ==========================================================================
   Content
   ========================================================================== */

.DEV-imagestripe() {
    background: #000000;
    @grad: 45deg, #000000 5%, #ffff00 6%, #ffff00 12%, #000000 13%, #000000 20%;
    background: -moz-repeating-linear-gradient(@grad);
    background: -webkit-repeating-linear-gradient(@grad);
    background: -o-repeating-linear-gradient(@grad);
    background: -ms-repeating-linear-gradient(@grad);
    background: repeating-linear-gradient(@grad);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}
.document-col {
  border: 1px solid @gray-lightest;
  margin: 10px 0;
  .document-row {
    .document-box {
      background-color: @gray-lightest;
      padding: 20px;
      &::after {
        content: " ";
        display: table;
        clear: both;
      }   
    }
    .document-entries {
      padding: 10px 0;
      margin-left: -15px;
      a {
        font-size: 14px;        
        display: block; 
        font-family: @font-family-sans-serif;
        line-height: 28px;
      }
    }
  }
  .button {
    display: inline-block;
    color: @white;
    float: right;
    background-color: @secondary-darker;
    padding: 5px 20px;
    margin-top: 10px;
    &::before {
      content: '+ ';
    }    
  } 
}

.container.page {
  padding: 20px;
}

.colored-back {
  &.primary {
    background-color: @gray-lightest;
  }
  &.secondary {
    background-color: @gray;
    color: @white;
  }
  &.tertiary {
    background-color: @white;
  }
}

.home-box {
  text-align: center;
  .image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
  }
  .content {
    padding: 10px 0;
    background-color: @white;
    .upper {
      font-size: 20px;
      color: @gray;
    }
    .lower {
      font-size: 30px;
      font-weight: 700;
      font-style: italic;
      color: @gray;
      line-height: 30px;
    }
  }
  .bottom {
    line-height: 28px;
    font-size: 14px;
    color: @white;
    font-weight: 700;
    font-style: italic;
    height: 28px;
    margin-bottom: -28px;
    &.primary {
      background-color: @primary;
    }
    &.secondary {
      background-color: @secondary;
    }
    &.tertiary {
      background-color: @tertiary;
    }
  }
}

.mini-box-link {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

.wide-box {
  height: 198px;
  background-color: @white;
  .header {
    line-height: 38px;
    font-size: 28px;
    color: @primary;
    font-style: italic;
    text-align: center;
    font-weight: 800;
    padding: 20px 30px;
  }
  button {
    margin: 20px 20px;  
  }
}

.mini-box {
  .content {
    padding: 15px;
    color: @white;
    height: 170px;
    .upper {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .lower {
      font-size: 26px;
      font-weight: 700;
      font-style: italic;
      line-height: 137.5%;      
    }
  }
  
  .bottom {
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    color: @white;
    font-weight: 700;
    font-style: italic;
  }
  
  &.primary {
    .content {
      background-color: @primary;
    }
    .bottom {
      background-color: @primary-darker;
    }
  }
  &.secondary {
    .content {
      background-color: @secondary;
    }
    .bottom {
      background-color: @secondary-darker;
    }
  }
  &.tertiary {
    .bottom {
      background-color: @tertiary;
    }
    .content {
      background-color: @tertiary-darker;  
    }
  }
  &.gray {
    .bottom {
      background-color: @gray;
    }
    .content {
      background-color: @gray-light;  
    }
  }
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.search-form {
  margin-top: 20px;
  input {
    border: 0;
    border-radius: 0;
    background-color: @gray-lighter;
    color: @white;
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    padding: 0 20px;
    height: 35px;
    .color-placeholder(@white,@gray-lighter);
  }
  button {
    top: 0;
    color: @white;
    font-size: 18px;
    height: 35px;
    width: 35px;
    background-color: @primary-darker;
    border-radius: 0;
    border: 0;
  }
}

.faq {
  .accordion {
    padding: 0 20px;
    margin: 2px 0;
    background-color: @gray-lightest;
    .title {
      font-size: 24px;
      color: @gray-darker;
      line-height: 46px;
      cursor: pointer;
      &:hover {
        color: @secondary;
      }
    }
    .body {
      padding-bottom: 10px; 
    }
  }
}


/* ==========================================================================
   Short Codes
   ========================================================================== */

.subbox {
  padding: 24px;
  background-color: @gray-lightest;
  h2 {
    font-size: 28px;
    color: @gray;
    line-height: 38px;
    margin: 0;
  }
  p {
    font-size: 14px;
    line-height: 28px;
    color: @gray;
    a {
      color: @secondary;
      text-decoration: none;
      font-weight: 700;
      font-style: italic;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar-menu {
  margin-bottom: 10px;
  * {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    color: @white;
    font-size: 18px;
    padding: 5px 15px;
  }
  .header {
    background-color:  @gray;
  }
  .entry.active {
    background-color: @secondary-darker;    
  }
  
  a.entry {
    background-color: @gray-lighter;
    &:hover {
      background-color: @secondary;
    }
  }
  a:hover {
    color: @white;
    text-decoration: none;
  }
}

.sidebar { }

.photo-sidebar {
  background-color: @gray;
  font-size: 36px;
  font-style: italic;
  line-height: 46px;
  color: @white;
  .blurb {
    padding: 15px;
  }
  .photo {
    width: 100%;
    height: 180px;
    .DEV-imagestripe();
  }
}

.contact-sidebar {
  .header {
    &.primary {
      background-color: @primary;    
    }
    &.secondary {
      background-color: @secondary;    
    }
    &.tertiary {
      background-color: @tertiary;    
    }
    &.gray {
      background-color: @gray-lightest;    
    }
    &.container {
      background-clip: content-box;
    }
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
    padding: 20px 15px;
    color: @white;
  }
  .form {
    padding: 20px 15px;
    background-color: @gray;
    h3 {
      color: @primary;
      font-size: 24px;
      font-weight: 500;
      font-style: italic;
      line-height: 46px;
      margin: 0;
    }
    p {
      font-size: 14px;
      font-family: @font-family-sans-serif;
      line-height: 24px;
      font-weight: 200;
      color: @white;
    }
    input, textarea {
      color: @white;
      background-color: @gray-lighter;
      font-style: italic;
      line-height: 30px;
      height: 30px;
      width: 100%;
      margin: 10px 0;
      padding: 0 20px;      
      border: 0;
      .color-placeholder(@white,@gray-lighter);
    }
    textarea {
      height: 120px;
    }
    button {
      float: right;
    }
    .cf {
      width: 100%;
      height: 0;
      clear: both;
    }
  }
}


/* ==========================================================================
   Posts
   ========================================================================== */

.blog-items {
  margin: 20px 0;
  .item {
    min-height: 200px;
    position: relative;
    .title {
      font-size: 18px;
      color: @secondary;
      font-weight: 700;
      line-height: 22px;
    }
    .category {
      display: inline-block;
      font-size: 14px;
      line-height: 22px;
      a {
        color: @secondary;
      }
      a:not(:last-child)::after {
        display: inline-block;
        content: ', ';
      }
    }
    .date {
      display: inline-block;
      color: @gray-light;
    }
    .excerpt {
      font-size: 14px;
      font-family: @font-family-sans-serif;
    }
    .right { 
      float: right;
      * {
        display: block;
        text-align: right;
      }
    }
    .link {
      color: @secondary;
      clear: both;
      font-style: italic;
      line-height: 22px;
      font-size: 14px;
      &::before {
        content: '+ ';
      }
      &:hover {}
    }
    hr {
      position: absolute;
      bottom: 0;
      margin: 10px 0px;
      height: 1px;
      border: 0;
      width: 100%;
      background-color: @gray-lightest;
    }
  }
}

.page-body {
  h2 {
    font-size: 28px;
    color: @gray;
    font-weight: 700;
    font-style: italic;
  }
  p, ul, li {
    font-size: 14px;
    font-family: @font-family-sans-serif;
    line-height: 24px;
    img {
      margin: 20px 30px;
      &.alignleft {
        margin-left: 0;
      }
    }
    a {
      color: @secondary;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.footer-banner {
  margin-top: 50px;
  padding: 30px 0;
}

form.newsletter {
  margin-top: 25px;
  padding: 10px 20px;
  padding-bottom: 20px;
  background-color: @gray-lighter;
  color: @white;
  overflow: auto;
  label {
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
  }
  button {
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    background-color: @primary-darker;
    color: @white;
    border: 0;
    outline: 0;
    float: right;
    height: 34px;
    padding: 0px 40px;
  }
  input[type=email] {
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    background-color: @primary;
    color: @white !important;
    border: 0;
    outline: 0;
    width: 100%;
    margin: 10px 0;
    height: 35px;
    padding: 0 20px;
    .color-placeholder(@white,@primary);
  }
}

.foot-contact { 
  min-height: 45px;
  max-height: 90px;
  background-color: @primary;
  color: @gray;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 45px;
  .number, .contact { 
    display: inline-block;
    margin: 0 50px;
  }
}

.foot-main, .foot-copyright {
  background-color: @gray;
}

.footer-menu-pad {
  padding: 25px 0 0 0;
}

.copy {
  font-size: 12px;
  color: @gray-lighter;
  display: inline-block;
  font-weight: 200;
  p {
    margin-left: 15px;
    display: inline-block;
  }
}

.icon {
  width: 48px;
  height: 48px;
  display: block;
  &.linkedin {
    background-image: url('../img/logo-linkedin.png'); 
    background-size: 100%;
  }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }

/* ==========================================================================
   Mixins
   ========================================================================== */

.color-placeholder(@color,@background) {
    &:-webkit-autofill { // Remove webkit auto fill coloring.
      box-shadow: 0 0 0 1800px @background inset !important;
      color: @color !important;
    }
    &::-webkit-input-placeholder {
      color: @color;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: @color;
      opacity: 1;
    }
    &::-moz-placeholder{
      color: @color;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: @color;
      opacity: 1;
    }
}